# Python
__pycache__/

# Data
data/

# IDE
.vscode/

# Weights & Training histroy
runs/

# Latex 编译文件
report/*.aux
report/*.log
report/*.toc
report/*.out
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz

# report
report/*.pdf
